---
import MainLayout from "../layouts/MainLayout.astro";
import { posts } from "../data/blog.js";
---

<MainLayout title="Blog">
 <!-- Spacer -->
    <div style="height:50px;"></div>
<section class="py-5">

  <div class="container">

    <!-- Header -->
    <div class="text-center mb-5" data-aos="fade-down">
      <h1 class="fw-bold text-primary text-uppercase">Blog</h1>
      <p class="text-secondary">Latest articles and tutorials</p>
    </div>

    <!-- Posts -->
    <div class="row g-4">

      {posts.map((post, index) => (
        <div class="col-md-4"
          data-aos="zoom-in"
          data-aos-delay={index * 100}
        >

          <a href={`/blog/${post.slug}`} class="text-decoration-none">

            <div class="card blog-card h-100 border-0 shadow-lg">

              <div class="blog-img-wrapper">
                <img src={post.image} class="blog-img" alt={post.title} />
              </div>

              <div class="card-body p-4">
                <small class="text-secondary">{post.date}</small>

                <h5 class="fw-bold text-primary mt-2">
                  {post.title}
                </h5>

                <p class="text-secondary">
                  {post.description}
                </p>
              </div>

            </div>

          </a>

        </div>
      ))}

    </div>

  </div>

</section>

</MainLayout>